{% extends 'home/base.html' %}

<body>
    {% block content %}
    </html>
    <body>
        <h2 class="m-3 ">Publicaciones</h2> 
        {% if user.is_authenticated %}
        <a class="btn btn-success m-3" href="{% url 'publicaciones:publicaciones_create' %}">Crear nueva publicacion</a>
        {% endif %}
        <a class="btn btn-success m-3" href="{% url 'publicaciones:publicaciones_list' %}">Lista de publicaciones</a>
        <a class="btn btn-outline-dark m-3 m-3" href="{% url 'home:index' %}">Home</a>
    </body>
    </html>
    {% endblock content %}
    
