{% extends 'home/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    </html>
    <body>
        <h2 class="m-3 ">Publicaciones</h2>        
        <a class="btn btn-success m-3" href="{% url 'publicaciones:publicaciones_create' %}">Crear nueva publicacion</a>
        <a class="btn btn-success m-3" href="{% url 'publicaciones:publicaciones_list' %}">Lista de publicaciones</a>
        <a class="btn btn-outline-dark m-3 m-3" href="{% url 'home:index' %}">Home</a>
    </body>
    </html>
    {% endblock content %}
    
