{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="row gx-4 gx-lg-5 align-items-center my-5">
<div class="container px-4 px-lg-5">  
<div class="row gx-4 gx-lg-5">
    <h2 class="m-3 ">Lista de publicaciones</h2>
    
    <div class="py-4 m-3">
        <form action="" method="get">
            <input type="text" name="buscar" placeholder="Buscar publicacion">
            <button type="submit">Buscar</button>
            {% if not object_list %}
                <p>No se encontraron publicaciones que coincidan con la búsqueda.</p>
            {% endif %}
        </form>
    </div>        
        
        {% for publicacion in object_list %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body ">
                    <h2 class="card-title text-center">{{ publicacion.titulo }}</h2>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <img class="img-fluid rounded" src="{% static 'home/images/no-image.jpeg' %}" alt="..." style="max-height: 90%; width: auto;" />
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-primary btn-sm" href="{% url 'publicaciones:publicaciones_detail' publicacion.id %}">Ver publicación</a>
                    {% if user.is_authenticated %} 
                    <a class="btn btn-primary btn-sm" href="{% url 'publicaciones:publicaciones_update' publicacion.id %}">Actualizar</a>
                    <a class="btn btn-primary btn-sm" href="{% url 'publicaciones:publicaciones_delete' publicacion.id %}">Eliminar</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}  
    
      
</div>
</div>
</div>  
    <a class="btn btn-outline-dark m-3 m-3" href="{% url 'publicaciones:index' %}">Volver</a>
</body>
    
{% endblock content %}