{% extends 'home/base.html' %}


{% block content %}

<h3 class="text-center ">Eliminar casa de la comarca</h3>
    <p class="fs-5 fst-italic text-center  ">Esta por eliminar {{ object.nombre_casa }}</p>

    <form action="" method="post">
        {% csrf_token %}
        <div class="text-center">
            <button type="submit" class="btn btn-danger btn-sm mx-auto">Confirmar</button>
        </div>
    </form>
    
        <a href="{% url 'comunidad:casascomunidad_list' %}" class="btn btn-dark mx-auto">Volver</a>
    
{% endblock content %}