{% extends 'home/base.html' %}

{% load static %}
{% block content %}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
<div class="container px-4 px-lg-5">  
<div class="row gx-4 gx-lg-5">             
        
        
    <a class="btn btn-success m-3 " href="{% url 'comunidad:casascomunidad_list' %}">Conoce las casas de los artesanos</a>
    <a class="btn btn-success m-3" href="{% url 'comunidad:miembro_list' %}">Lista de miembros</a>        
    <a class="btn btn-outline-dark m-3" href="{% url 'home:index' %}">Home</a>

    
{% endblock content %}
    

