{% extends 'home/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    </html>
    <body>
        <h2 class="m-3 ">Comunidad</h2>        
        <a class="btn btn-success m-3 " href="{% url 'comunidad:casascomunidad_list' %}">Casas de artesanos</a>
        <a class="btn btn-success m-3" href="{% url 'comunidad:miembro_list' %}">Lista de miembros</a>        
        <a class="btn btn-outline-dark m-3" href="{% url 'home:index' %}">Home</a>
    </body>
    </html>
    {% endblock content %}
    

