{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container px-4 px-lg-5">
                      
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'home/images/comarca.jpeg' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light text-center ">La comarca</h1>
            <strong><p class="text-center text-body  ">
                "Tu comunidad local para comprar, vender y conectarte."</p></strong>
            <div class="text-center ">            
            <a class="btn btn-primary" href="{% url 'comunidad:miembro_create' %}">Se parte!</a>
            <a class="btn btn-primary" href="{% url 'comunidad:miembro_create' %}">Nosotros!</a>
            </div>
        </div>
    </div>
    
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">             
        
            {% for publicacion in publicaciones %}
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <div class="card-body ">
                        <h2 class="card-title text-center">{{ publicacion.titulo }}</h2>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="img-fluid rounded" src="{% static 'home/images/comarca.jpeg' %}" alt="..." style="max-height: 90%; width: auto;" />
                    </div>
            
                    <div class="card-footer text-center" ><a class="btn btn-primary btn-sm" href="{% url 'publicaciones:publicaciones_detail' publicacion.id %}" >Ver publicación</a></div>
                </div>
            </div>   
            {% endfor %}
        


    </div>
    </div>
{% endblock content %}
</html>

